doctype html
html
    head
        include head
    body
        include navbar
        div.container
            form
                div.form-group
                    label Bundle
                    input(type='file')
                    p.help-block Choose bundle to upload
                div.form-group
                button.btn.btn-default(type="submit") Submit