doctype html
html
    head
        include head
    body
        include navbar
        div.container
            h1.text-center Choose your trial!
            div#trials.row(style='margin-top: 70px')
                each trial in trials
                    div.col-md-3
                        div.panel.panel-default
                            div.panel-body
                                h3.text-center=trial.title
                                p=trial.desc
                                p: a.btn.btn-default.btn-block(href="trial.html") Try
        include footer