nav.navbar.navbar-default.navbar-static-top(role="navigation")
    div.container
        - var collapseId = genId();
        div.navbar-header
            a.navbar-brand(href="index.html") CodeTrials
        ul.nav.navbar-nav
            li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#') Pick trial
                    b.caret
        a.btn.btn-success.navbar-btn.navbar-right(href='form.html') Add trial